<!doctype html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>EEhw</title>

    <link rel="stylesheet" href="styles.css">

    <style type="text/css">
        .ng-cloak { display: none !important; }
    </style>
</head>

<body class="ng-cloak" ng-app="app" ng-controller="PersonCtrl as vm">

    <p id="error" style="background-color: red">

    </p>

    <label for="search-string">Isikud:</label>
    <input id="search-string" ng-model="vm.searchText" placeholder="Otsi">
    <span id="search" class="fa fa-search"></span>
    <br><br><br>

    <a href ng-click="inputForm = !inputForm" id="save-link">Lisa uus isik</a>

    <form ng-show="inputForm">
        <table class="form-table">
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" ng-model="vm.newPerson.id">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="firstname">Eesnimi:</label>
                    </td>
                    <td>
                        <input id="firstname" ng-model="vm.newPerson.firstname"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lastname">Perenimi:</label>
                    </td>
                    <td>
                        <input id="lastname" ng-model="vm.newPerson.lastname"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="birthday">Sünniaeg:</label>
                    </td>
                    <td>
                        <input type="date" id="birthday" ng-model="vm.newPerson.birthday"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                    </td>
                    <td>
                        <input id="email" ng-model="vm.newPerson.email"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address">Aadress:</label>
                    </td>
                    <td>
                        <input id="address" ng-model="vm.newPerson.address"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="right">
                        <button ng-click="vm.insertNew(vm.newPerson)">Lisa uus</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </form>

    <br><br><br>

    <table class="list-table">
        <thead>
            <tr>
                <th>
                    <a href ng-click="vm.sortBy('firstname')">Eesnimi</a>
                    <span class="sort" ng-show="vm.propertyName === 'firstname'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th>
                    <a href ng-click="vm.sortBy('lastname')">Perenimi</a>
                    <span class="sort" ng-show="vm.propertyName === 'lastname'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th>
                    <a href ng-click="vm.sortBy('birthday')">Sünniaeg</a>
                    <span class="sort" ng-show="vm.propertyName === 'birthday'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th>
                    <a href ng-click="vm.sortBy('email')">Email</a>
                    <span class="sort" ng-show="vm.propertyName === 'email'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th>
                    <a href ng-click="vm.sortBy('address')">Aadress</a>
                    <span class="sort" ng-show="vm.propertyName === 'address'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="person in vm.people | filter: vm.searchText">
                <td>{{ person.firstname }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.birthday | date : "dd.MM.yyyy" }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.address }}</td>
                <td>
                    <a href ng-click="vm.editPerson(person.id)" class="edit-link">Muuda</a>
                    <a href ng-click="vm.deletePerson(person.id)" class="delete-link">X</a>
                </td>
            </tr>
        </tbody>

    </table>

</body>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/http.srv.js"></script>
<script src="app/person.ctrl.js"></script>

</html>
