body {
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #333;
    width:500px;
}

#search-string{
    border-radius: 9px;
}

.form-table {
    background: #fff;
    border-collapse: collapse;
    border: 1px solid #999;
    text-align: left;
}

.form-table td {
    padding: 1px 8px;
}

.list-table {
    background: #fff;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.list-table th {
    background-color: #D3D3D3;
    font-weight: normal;
    padding: 0px 8px;
    border: 1px solid #000;
}

.list-table td {
    padding: 9px 8px 0px 8px;
    border: 1px solid #000;
}

.sort:before {
  content: '\25b2';
}
.sort.reverse:before {
  content: '\25bc';
}

.list-table tr:nth-child(even) {
    background-color: #EEE;
}

.right {
    text-align: right;
}
